/* Background color */
.bg-primary {
  background-color: var(--primary);
}

/* Border */
.border {
  border-width: 1px;
  border-style: solid;
}

.border-negative {
  border-color: var(--negative);
}

.border-b {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.border-b-dark-light {
  border-bottom-color: var(--bg-dark-light);
}

/* Border radius */
.rounded-2 {
  border-radius: 0.5rem;
}

/* Color */
.text-grey {
  color: var(--grey);
}

.text-light-grey {
  color: var(--light-grey);
}

.text-negative {
  color: var(--negative);
}

/* Container */
.container {
  width: 100%;
}

/* Cursor */
.pointer {
  cursor: pointer;
}

/* Display */
.flex {
  display: flex;
}

.none {
  display: none;
}

/* Flexbox */
.basis-full {
  flex-basis: 100%;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.order-3 {
  order: 3;
}

/* Font */
.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

/* Margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Padding */
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.\!px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.\!py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

/* Text sizing */
.text-3\.5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-6 {
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Media queries */
@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:basis-auto {
    flex-basis: auto;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:p-0 {
    padding: 0;
  }

  .md\:order-2 {
    order: 2;
  }

  .md\:order-3 {
    order: 3;
  }

  .md\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .md\:none {
    display: none;
  }

  .md\:border-b-0 {
    border-bottom-width: 0;
  }

  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media (hover: hover) {
  .hover\:opacity:hover {
    transition: opacity;
    transition-duration: 250ms;
    opacity: 0.8;
  }
}
